.floating-back-button {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
}

.floating-back-button__icon {
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 50%;
}
