.channel {
  display: flex;
  padding: 4px 8px;
  transition: background-color 0.1s;
}

.channel__swipe {
  padding-left: 40px;
  background-color: #0004;
  margin: -4px 8px -4px -8px;
}

.channel__solo {
  flex: 0;
  margin-right: 8px;
}

.channel__mute {
  flex: 0;
  margin-right: 8px;
}

.channel__volume {
  flex: 1;
  margin-right: 8px;
}
