.scrubber {
  flex: 1;
  display: flex;
  width: 100vw;
  position: relative;
  min-width: 0; /* Fix for flex scroll bug in Firefox https://stackoverflow.com/a/28639686 */
}

.scrubber__timeline {
  display: flex;
  min-width: 100vw;
  padding: 40px 0 40px 56px;
  overflow-x: scroll;
  will-change: scroll-position;
}

.scrubber__progress {
  position: absolute;
  top: 40px;
  left: 56px;
  bottom: 40px;
}

.scrubber__rewind {
  position: absolute;
  left: 8px;
  bottom: 40px;
}

.scrubber__rewind--hidden {
  opacity: 0;
  pointer-events: none;
}

.progress {
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.65);
}
