.scrubber {
  flex: 1;
  display: flex;
  width: 100vw;
  position: relative;
}

.scrubber--firefox-scroll-fix {
  /* Fix for flex scroll bug in Firefox https://stackoverflow.com/a/28639686 */
  min-width: 0;
}

.scrubber__timeline {
  display: flex;
  min-width: 100vw;
  padding: 40px 0 40px calc(0.75 * 100vw);
  overflow-x: scroll;
}

.scrubber__shade {
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  padding-top: 40px;
  pointer-events: none;
}

.scrubber__cursor {
  position: absolute;
  top: 0;
  left: calc(0.75 * 100vw);
  bottom: 40px;
  padding-top: 40px;
}

.scrubber__rewind {
  position: absolute;
  left: 8px;
  bottom: 28px;
}

.scrubber__rewind--hidden {
  opacity: 0;
  pointer-events: none;
}

.shade {
  height: 100%;
  background-image: linear-gradient(
    to right,
    #000,
    #0000 75%,
    #000c 75%,
    #000f 100%
  );
}

.cursor {
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.65);
  transition: background-color 0.3s, box-shadow 0.15s;
}

.cursor--is-playing {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: -2px 0 4px 1px #fffa;
}
