.toolbar {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.toolbar__button {
  margin-right: 4px;
}

.toolbar__button:last-child {
  margin-right: 0;
}

.toolbar__spacer {
  flex: 1;
}

.show-lyrics {
  color: var(--primary);
}

.fader-1,
.fader-2 {
  transition: transform 0.3s;
}

.show-mixer .fader-1 {
  transform: translateY(-144px);
}

.show-mixer .fader-2 {
  transform: translateY(144px);
}
