.workstation {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.workstation__toolbar {
  z-index: 1;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
}

.editor__timeline {
  /* Move timeline to back */
  z-index: 0;
  flex: 1;
  display: flex;
}

.editor__drawer {
  flex: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 120px;
  overflow-y: scroll;
  transition: transform 0.3s;
}

.editor__drawer--closed {
  /* TODO: transform scrubber as well, with eg. scaleY(0.5) translateY(-128px) */
  transform: translateY(120px);
}

@media (min-height: 376px) {
  .editor__drawer {
    max-height: 240px;
  }

  .editor__drawer--closed {
    /* TODO: transform scrubber as well, with eg. scaleY(0.5) translateY(-128px) */
    transform: translateY(240px);
  }
}

.editor__dropzone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor__dropzone--hidden {
  display: none;
}
