.zoom-controls {
  position: absolute;
  right: 16px;
  top: 8px;
  display: none;
  flex-direction: column;
  gap: 4px;
  z-index: 2;
}

@media (hover: hover) and (pointer: fine) {
  .zoom-controls {
    display: flex;
  }
}

.zoom-controls__button {
  width: 32px;
  height: 32px;
}
