.spectrogram {
  position: relative;
  display: grid;
}

.spectrogram__canvas {
  grid-area: 1 / 1;
  display: block;
}

.spectrogram__overlay {
  grid-area: 1 / 1;
  display: block;
  pointer-events: none;
}
