.scrubber {
  position: relative;
  width: 100vw;
}

.scrubber__timeline {
  overflow-x: scroll;
  padding: 40px 0;
}

.scrubber__progress {
  position: absolute;
  top: 40px;
  left: 56px;
  bottom: 40px;
}

.scrubber__rewind {
  position: absolute;
  bottom: 0;
  left: 36px;
}

.scrubber__rewind--hidden {
  display: none;
}

.progress {
  height: 100%;
  width: 5px;
  background: white;
  opacity: 0.3;
  border-radius: 2px;
}
