.scrubber {
  flex: 1;
  display: flex;
  width: 100vw;
  position: relative;
}

.scrubber__timeline {
  display: flex;
  padding: 40px 0 40px 56px;
  min-width: 100vw;
  overflow-x: scroll;
  will-change: scroll-position;
}

.scrubber__progress {
  position: absolute;
  top: 40px;
  left: 56px;
  bottom: 40px;
}

.scrubber__rewind {
  position: absolute;
  bottom: 0;
  left: 36px;
}

.scrubber__rewind--hidden {
  display: none;
}

.progress {
  height: 100%;
  width: 5px;
  background: white;
  opacity: 0.3;
  border-radius: 2px;
}
