.app {
  min-height: 100vh;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: stretch;
}

.app__tracker {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: stretch;
}

.app__toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: stretch;
}

.toolbar {
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: stretch;
}

.toolbar__transport {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: stretch;
}

.toolbar__scrubber {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: stretch;  
}

.toolbar__mixer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-items: stretch;
}