/* TODO: move common styling here */
html {
  --body-background: #000;
  --component-background: #141414;
}

@media (max-width: 768px) {
  /* Reset header extra styling for mobile devices in portrait mode. */
  .ant-page-header-heading-extra {
    display: initial;
    float: right;
    clear: initial;
    width: initial;
    padding-top: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  /* Style scrollbar on desktop devices only. */
  html {
    --scrollbar-track-color: #141414;
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.65);
  }
  div {
    scrollbar-width: thin;
    scrollbar-color: dark;
  }
  div::-webkit-scrollbar {
    width: 11px;
  }
  div::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }
  div::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-track-color);
  }
}

.button {
  color: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
}

.button:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.button:focus {
  color: rgba(255, 255, 255, 0.65);
}

.button:active,
.button--active {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 1) inset !important;
}
